@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

.content_title ::before {
  font-weight: 400;
  display: block;
  font-size: 1rem;
  margin-bottom: 10vh;
  text-align: center;
}
.section_title {
  font-size: clamp(2rem, 17vw, 12.5rem);
  margin: 5vh 0 6vh;
  line-height: 0.9;
  text-transform: none;
}

.column-wrap:nth-child(even) {
  margin-top: 20vh;
}

.col_img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  will-change: transform;
}
