@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

.content_title ::before {
  font-weight: 400;
  display: block;
  font-size: 1rem;
  margin-bottom: 10vh;
  text-align: center;
}
